html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 5px;
  margin: 0;
}

.calculator {
    padding: 1px;
    background-color: #838383;
    width: 400px;
    display: grid;
    gap: 1px 1px;
    grid-template-areas:
        "screen"
        "buttons"
}

.calculator-screen {
    padding-right: 20px;
    width: 400px;
    height: 98.5px;
    background-color: black;
    text-align: right;
    grid-area: screen;
}

#content {
    font-size: 250%;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
}

.calculator-buttons {
    width: 394px;
    grid-area:buttons;
    display: grid;
    gap: 1px 1px;
    grid-template-columns: repeat(4, [col] 98.5px);
    grid-template-rows: repeat(5, [row] 98.5px);
    grid-template-areas:
        "clear clear back divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "zero zero zero equals"
}

/* button id */
#clear {
    grid-area: clear;
    display: inline-block;
    text-align: center;
}

#back {
    grid-area: back;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#minus {
    grid-area: minus;
    font-weight: bolder;
}

#plus {
    grid-area: plus;
}

#equals {
    grid-area: equals;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

/* button design & response */
.gray-button {
    background-color: gainsboro;
    color: black;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
}

.orange-button {
    background-color: #FFA500;
    color: white;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
}

.gray-button:hover,
.orange-button:hover {
    background-color: #CE1126 !important;
    box-shadow: 0px 12px 24px black;
    transform: translateY(-5px)
}